@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Inconsolata:400,700');
@import './variables.less';

// html/body
html, *, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: @font-family-sans-serif;
  font-size: @font-size-base;
  color: @gray-darker;
  background-color: white;
}

// text elements
h1, h2, h3, h4, h5 {
  line-height: 1.25em;
}
h1, h2, h3 {
  font-weight: 300;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3, h4, h5, h6 {
  font-weight: 400;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5, p, li {
  font-size: 1rem;
}
p, li {
  line-height: 1.5rem;
}
h6 {
  font-size: 0.75rem;
  line-height: 1.34em;
}
a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  &:hover, &:focus {
    text-decoration: none;
  }
}
label {
  display: block;
  font-size: @font-size-small;
}
pre, code {
  font-family: @font-family-monospace;
}
pre {
  padding: @padding-base @padding-large;
  border-left: 1px solid @gray;
  background-color: @gray-lighter;
}
:not(pre) > code {
  padding: @padding-smallest @padding-smaller;
  background-color: @gray-lightest;
}

// useful classes
.pl-clear {
  clear: both;
}
.pl-spaced {
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
