// Font families
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Inconsolata:400,700');
@font-family-sans-serif: 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
@font-family-monospace: 'Inconsolata', 'Courier New', Courier, monospace;

// Font sizes
@font-size-base: 16px;
@font-size-small: 0.875em;

// Common layout sizes
@padding-base: 1.125em;
@padding-small: @padding-base / 1.5; // 0.75em
@padding-xsmall: @padding-small / 1.5; // 0.5em
@padding-xxsmall: @padding-xsmall / 2; // 0.25em
@padding-large: @padding-base / 0.75; // 1.5em
@padding-xlarge: @padding-large * 1.5; // 2.25em
@padding-xxlarge: @padding-xlarge / 0.75; // 3em

// Faded blacks
@black-faded: fade(black, 50%);
@black-faded-dark: fade(black, 80%);
@black-faded-darker: fade(black, 90%);
@black-faded-gradient: linear-gradient(0deg, @black-faded-dark, @black-faded-darker);

// Gray variables
@gray-lightest: darken(white, 5%);
@gray-lighter: darken(white, 10%);
@gray-light: darken(white, 20%);
@gray: darken(white, 40%);
@gray-dark: darken(white, 60%);
@gray-darker: darken(white, 90%);

// Colour variables
@brand-primary: #009da5;
@brand-primary-dark: darken(@brand-primary, 5%);
@brand-primary-darker: darken(@brand-primary, 10%);
@brand-secondary: #3f4146;
@brand-success: #00ad4b;
@brand-warning: #ffce00;
@brand-error: #f33300;

// Border radii
@border-radius-small: 2px;
@border-radius-large: 4px;

// Box shadows
@box-shadow-small: 0 0 1px @black-faded-dark;
@box-shadow-large: @box-shadow-small, 0 2px 6px @black-faded;

// CSS transition durations
@transition-duration-fast: 150ms;
@transition-duration-medium: 250ms;
@transition-duration-slow: @transition-duration-fast + @transition-duration-medium;

// Global rules
html, *, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: @font-family-sans-serif;
  font-size: @font-size-base;
  color: @gray-darker;
  background-color: white;
}

// Text elements
h1, h2, h3, h4, h5 {
  line-height: 1.25em;
}
h1, h2, h3 {
  font-weight: 300;
}
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 3em;
}
h4, h5, h6, p {
  font-weight: 400;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5, p, li {
  font-size: 1em;
}
p, li {
  line-height: 1.5em;
}
h6 {
  font-size: 0.75em;
  line-height: 1.34em;
}
a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.pl-button, button {
  display: inline-block;
  vertical-align: top;
  line-height: 2.25em;
  padding: 0 1.125em;
  border: 1px solid @gray-darker;
  box-sizing: border-box;
  border-radius: @border-radius-small;
  font-size: 1em;
  font-weight: 600;
  color: @gray-darker;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  &:hover {
    background-color: fade(@gray-darker, 5%);
  }
  &:active {
    background-color: fade(@gray-darker, 10%);
  }
  &.pl-small {
    height: 2em;
  }
  &.pl-large {
    padding: 0 2.25em;
    height: 3.375em;
    font-size: 1.25em;
  }
  &.pl-primary {
    border-color: @brand-primary;
    color: @brand-primary;
    &:hover {
      background-color: fade(@brand-primary, 5%);
    }
    &:active {
      background-color: fade(@brand-primary, 10%);
    }
  }
  &.pl-secondary {
    border-color: @gray-lightest;
    color: @gray-lightest;
    &:hover {
      background-color: fade(@gray-lightest, 5%);
    }
    &:active {
      background-color: fade(@gray-lightest, 10%);
    }
  }
  &.pl-disabled {
    opacity: 0.5;
    cursor: default;
    &:hover, &:active {
      background-color: transparent;
    }
  }
}

pre, code {
  font-family: @font-family-monospace;
}
pre {
  padding: 1em 1.5em;
  border-left: 1px solid @gray;
  background-color: @gray-lighter;
}
:not(pre) > code {
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  background-color: @gray-lightest;
}

.pl-spaced {
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
